body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header{
    background: white;
    color: white;
    padding: 0px 0;
}

.hh3d{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.hnn img{
    height: 60px;
    max-width: 100%;
}

.hh3d ul{
    list-style: none;
    display: flex;
}

.hh3d ul li{
    margin-left: 20px;
}

.hh3d ul li a{
    color: blue;
    text-decoration: none;
}

.hero{
    background: url("../images/hmm.jpg") no-repeat center/cover;
    color: white;
    padding: 20%;
    text-align: center;
}

.services{
    padding: 40px 20px;
}

.services-iteam{
    margin-bottom: 20px;
}
footer{
    background: rgb(15, 15, 235);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    /*display: inline-block;*/
    margin-top: 20px;
    text-align: center; /* Căn giữa nội dung văn bản */
}

.cn{
    background: #007bff;
    color: white;
    padding: 20px 10px;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
    margin-top: 10px;
}
